<!DOCTYPE html>
<html>
<head>
<base href="/">
<meta charset="utf-8">

<title>Appointlet by JIntelCare</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<link rel="icon" type="image/x-icon" href="favicon.ico">

<!-- <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script> -->

<style>
.container-fluid {
    font-size: 12px !important;
}
.form-control {
    padding: .25rem .35rem !important;
    font-size: 12px !important;
}
.switch-medium[_ngcontent-c3] small[_ngcontent-c3] {
    width: 25px !important;
    height: 25px !important;
}
.switch-medium[_ngcontent-c3] {
    height: 25px !important;
}
.btn {
    font-size: .8rem !important;
    padding: .25rem .35rem !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.85rem + 2px) !important;
}
label {
    font-size: 14px !important;
    font-weight: 600;
}
.txtstyle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prov_link {
    border: #eee 1px solid;
    background-color: #fff;
    width: 139px;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px;
    display: block;
    height: 29px;
    margin-bottom: 3px;
    /*width: auto;*/
    text-overflow: ellipsis;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    text-decoration: none;
    padding-right: 30px;
}

.prov_link input {
    display: none;
}

.active {
    display: block;
}

.glyphicon {
    display: block;
}
.text-center {
    text-align: left !important;
}

.input-group-addon {
    padding: .35rem .35rem !important;
}

.ql-container .ql-editor {
    min-height: 100px !important;
}
.bg-dark {
    background-color: #006f6a !important;
}
.switch-medium.checked[_ngcontent-c3] small[_ngcontent-c3] {
    left: 24px !important;
}
</style>


</head>
<body>
<my-app>Loading...</my-app>
</body>
<script src="/js/app/bundle.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>
